<html class="checkrbg">

  <header>
    <title>Checkr Landing Pages byClem</title>
      <div class="checkr_first_line">
        <a class="checkr_first_line_links">I am an applicant</a>
        <a class="checkr_first_line_links">API & Docs</a>
        <a class="checkr_first_line_links">About Us</a>
        <a class="checkr_first_line_links">Careers</a>
      </div>
      <div class="checkr_second_line">
        <div class="checkrlogo">
          Checkr
        </div>
        <div class="checkr_second_line_links">
          <span>PRODUCT</span>
          <div class="dropdown-content">
            <p>Overview</p>
            <p>Screenings</p>
            <p>Compliance</p>
            <p>Security</p>
          </div>
        </div>
        <div class="checkr_second_line_links">
          <span>STAFFING</span>
          <div class="dropdown-content">
            <p>Overview</p>
          </div>
        </div>
        <div class="checkr_second_line_links">
          <span>INDUSTRIES</span>
          <div class="dropdown-content">
            <p>Overview</p>
            <p>Staffing</p>
            <p>Contact Centers</p>
            <p>Financial Services</p>
            <p>Retail Hospitality</p>
            <p>Healthcare</p>
            <p>Non Profit</p>
            <p>On Demand Economy</p>
            <p>Manufacturing</p>
            <p>Software Technology</p>
            <p>Small Business</p>
            <p>P2P Marketplaces</p>
          </div>
        </div>
        <div class="checkr_second_line_links">
          <span>RESOURCES</span>
          <div class="dropdown-content">
            <p>Overview</p>
            <p>Guides White Papers</p>
            <p>FAQ</p>
          </div>
        </div>
        <div>
          <a class="Compliance">COMPLIANCE</a>
        </div>
        <div class="login">
          <a>Log In</a>
        </div>
        <div class="bttn">
          <a>GET STARTED -></a>
        </div>
      </div>


  </header>
    <body>

    <div class="checkrtxt">
      Tu peux venir visiter la page de <%= link_to "Checkr", home_checkr_path, class:"indexlink" %> ou bien celle de <%= link_to "Flynn", home_flynn_path, class:"indexlink" %>
    </div>
    </body>
  </div>
</html>
