<head>
  <title>Flynn byClem</title>
</head>
<div class="background_flynn">
  <div class="flynn_container">
    <div class="navbar_container">
      <div class="flynn_logo">
        <a class="navbar_text">Flynn</a>
      </div>
      <div class="flynn_spacer">
        <a>                     </a>
      </div>
      <div class="flynn_menu">
        About
      </div>
      <div class="flynn_menu">
        Docs
      </div>
      <div class="flynn_menu">
        Blog
      </div>
      <div class="flynn_menu">
        Pricing
      </div>
      <div class="button_try">
        Try
      </div>
    </div>
    <div class="flynn_body">
      <div class="body_text">
        <a>Throw away the duct tape.</br>
        <a>Say hello to Flynn.</a>
      </div>
      <div>
        <%= video_tag "flynn.mp4", :size => "320x240", :controls => true %>
      </div>
    </div>
  </div>
</div>
