<html class="indexbg">
  <head>
    <title>LandingPagesClem</title>
  <body>
    <div class="indextitle">
      Bienvenue sur ma landing page
    </div>
    <div class="indextxt">
      Tu peux venir visiter la page de <%= link_to "Checkr", home_checkr_path, class:"indexlink" %> ou bien celle de <%= link_to "Flynn", home_flynn_path, class:"indexlink" %>
    </div>
  </body>
</html>
